/* app css stylesheet */
nav{
  padding-bottom: 0;
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
}
nav ul{
  margin-bottom: 0;
}
nav ul li{
  float: left;
  padding: 7px 15px 8px;
  color: #586069;
  white-space: nowrap;
  border: solid transparent;
  border-width: 3px 1px 1px;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
}
nav ul li.active{
  color: #24292e;
  background-color: #fff;
  border-color: #e36209 #e1e4e8 transparent;
}
.issue-count{
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #444d56;
  background-color: rgba(27,31,35,0.08);
  border-radius: 20px;
}
.section-issues-list ul li .fa-exclamation-circle{
  position: absolute;
  top: 20px;
  left: 15px;
}
.section-issues-list ul li{
  padding-left: 40px;
  padding-right: 100px;
  position: relative;
}
.section-issues-list ul li .small{
  /* margin-top: 5px; */
}

.issue-label button{
  margin-top: -10px;
  color: #464545;
  height: 20px;
  padding: 0.15em 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
  background-color: white;
 
}
.issue-label button a{
  color: #464545;
}
.title{
  color: #24292e;
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.title:hover{
  text-decoration: none;
}

/* container-notice style */
.notice-section .btn-link{
  text-decoration:none;
}

.section-issues-list ul li:hover{
  background-color: #f6f8fa;
}


.task-progress-bar {
  display: inline-block;
  width: 80px;
  height: 5px;
  vertical-align: middle;
  background-color: #eee;
}
.task-progress-bar .progress {
  background-color: #ccc;
  display: inline-block;
  height: 5px;
  margin-bottom: 8px;
}
/* smart loader */

._4-u2{
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
}
._2iwo {
  margin-left: -25px;
  z-index: -1;
  position: relative;
}

._2iwq {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #f6f7f8;
  background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(0.2, #edeef1), color-stop(0.4, #f6f7f8), to(#f6f7f8));
  background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 43px;
  position: relative;
}

._2rtk ._2iwq {
  -webkit-animation-name: prideShimmer;
  background-image: -webkit-gradient(linear, center top, center bottom, from(deg), color-stop(0, red), color-stop(0.15, orange), color-stop(0.3, yellow), color-stop(0.45, green), color-stop(0.6, blue), color-stop(0.75, indigo), color-stop(0.8, violet), to(red));
  background-image: -webkit-linear-gradient(135deg, red 0%, orange 15%, yellow 30%, green 45%, blue 60%, indigo 75%, violet 80%, red 100%);
  background-repeat: repeat;
  background-size: 50% auto;
}

.direction_rtl ._2iwq {
  -webkit-animation-direction: reverse;
}

._2iwq div {
  background: #fff;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0;
}

div._2iwr {
    height: 40px;
    left: 0;
    right: auto;
    top: 0;
    width: 48px;
}

div._2iws {
  height: 8px;
  left: 48px;
  top: 0;
}

div._2iwt {
  left: 600px;
  top: 8px;
}

div._2iwu {
  height: 12px;
  left: 48px;
  top: 14px;
}

div._2iwv {
  left: 320px;
  top: 26px;
}

div._2iww {
  height: 10px;
  left: 48px;
  top: 32px;
}

div._2iwx {
  height: 20px;
  top: 40px;
}

div._2iwy {
  left: 410px;
  top: 60px;
}

div._2iwz {
  height: 13px;
  top: 66px;
}

div._2iw- {
  left: 440px;
  top: 79px;
}

div._2iw_ {
  height: 13px;
  top: 85px;
}

div._2ix0 {
  left: 178px;
  top: 98px;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
@-webkit-keyframes prideShimmer {
  from {
    background-position: top left;
  }

  to {
    background-position: top right;
  }
}


/*************************media queary**************** */
 /* commonly used deviced width
 320px
 480px
 600px
 768px
 900px
 1024px
 1200px 
 */

@media only all and (max-width: 767px) {
  .title{
    width: 230px;
  }
  .section-issues-list ul li{
    padding-left: 25px;
    padding-right: 35px;
  }
  .section-issues-list ul li .fa-exclamation-circle{
    left: 7px;
  }
  .section-issues-list ul li .position-absolute.right-20px{
    right: 7px;
  }
}

@media only all and (min-width: 320px) and (max-width: 767px) {
  
}

@media only all and (min-width: 768px) and (max-width: 1024px) {
  
}
@media only all and (min-width: 1025px) and (max-width: 1200px) {
  
}

@media only all and (min-width: 768px) {
  .notice-section{
    position: relative;
  }
  .notice-section .btn-link{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
}
